* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Main title position. */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Color change for 'seo' in 'Horiseon'. */
.header h1 .seo {
    color: #d9dcd6;
}

/* Spacing and font size for the navigation bar. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

/* Spacing and postion for the navigation bar links. */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Change color of the navigation bar items. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph font size. */
p {
    font-size: 16px;
}

/* Positioning of the main picture. */
.background-pic {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Positioning of the pictures on the left in paragraphs. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Positioning of the pictures on the right in paragraphs. */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Positioning of the main paragraphs. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Positioning and styling of the side paragraphs. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Positioning and styling of the paragraph 1 one the side. */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Positioning and styling of the paragraph 2 one the side. */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Positioning and styling of the paragraph 3 one the side. */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Positioning of the heading 1 one the side. */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Positioning of the heading 2 one the side. */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Positioning of the heading 3 one the side. */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Positioning of the image in paragraph 1 one the side. */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Positioning of the image in paragraph 2 one the side. */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Positioning of the image in paragraph 3 one the side. */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Spacing and styling of the main paragraphs. */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Positioning of the image in main paragraph 1. */
.search-engine-optimization img {
    max-height: 200px;
}

/* Positioning of the image in main paragraph 2. */
.online-reputation-management img {
    max-height: 200px;
}

/* Positioning of the image in main paragraph 3. */
.social-media-marketing img {
    max-height: 200px;
}

/* Spacing in main paragraph 1. */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Spacing in main paragraph 2. */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Spacing in main paragraph 3. */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styling and spacing of the footer. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
